# Not uploading any of the raw docs. 
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.docx
*.doc
*.xlsx
*.xls

!*.json

*.index

.env
*.env
.env.*

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

.DS_Store
.AppleDouble
.LSOverride

data/raw/