# Not uploading any of the raw docs. 
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.docx
*.doc
*.xlsx
*.xls

# Generated data
data/parsed/
data/english_recipes/
data/merged/
*.json
!web_app/package.json
!web_app/package-lock.json

*.index


.env
*.env
.env.*

__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

.DS_Store
.AppleDouble
.LSOverride

data/raw/

# Allow indices for deployment
!data/indices/
!data/indices/*
!data/indices_menus/
!data/indices_menus/*